.posts {
    padding: 40px 50px;
}

h3 {
    color: rgb(217, 221, 196);
    font-size: 25px;
    font-weight: normal;
    box-sizing: border-box;
}

.textArea {
    width: 50%;
    font-size: 15px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
    background-color: #f8f8f842;
    resize: none;
    outline: none;
    box-shadow: 0px 7px 15px rgba(34, 34, 34, 0.493);
}

.btn__block {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: #50b5ff;
    border: none;
    color: rgba(255, 255, 255, 0.849);
    padding: 8px 50px;
    text-decoration: none;
    margin: .8rem 0 2rem 0;
    border-radius: 9px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: .15s ease-in-out;
    box-shadow: 0 10px 10px rgba(19, 19, 19, 0.19), 0 3px 3px rgba(36, 36, 36, 0.23);
}

.btn:hover {
    background-color: #50b6ffad;
    color: rgb(223, 221, 221);
}

.btn:active {
    background-color: #50b6ff78;
    color: #fff;
}