.posts {
    padding: 20px 80px;
}

.textArea {
    width: 100%;
    height: 3rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    outline: none;
}

.btn {
    background-color: #50b5ff;
    border: none;
    color: rgba(255, 255, 255, 0.849);
    padding: .5rem 3rem;
    text-decoration: none;
    margin: .8rem 0 2rem 0;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.btn:hover {
    background-color: #50b6ffad;
    color: rgb(223, 221, 221);
}

.btn:active {
    background-color: #50b6ff78;
    color: #fff;
}