.app__wrapper {
    display: grid;

    grid-template-areas: 
        "header header"
        "sideBar main";

    grid-template-rows: 120px 1fr;
    grid-template-columns: 2fr 9fr;
    grid-gap: 30px;

    width: 80%;
    margin: 25px auto;
}

.wrapper__content {
    grid-area: main;
    background-color: #1e2769;
    border-radius: 15px !important;
    color: #8c91b6;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 22%);
}