.menu {
    grid-area: sideBar;
    background-color: #1e2769;
    border-radius: 15px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 22%);
    padding-bottom: 19px;
    max-height: 525px;
    box-sizing: border-box;
}

.list {
    list-style: none;
    padding: 15px;
}

.item {
    padding: 10px 15px;
    box-shadow: 3px 7px 1px rgb(0 5 52 / 50%);
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid transparent; 
    display: flex;
    transition: transform .15s ease-in-out;
    align-items: center;
    align-content: center;
}

.item:hover {
    transform: translate(10px);
}

.link {
    text-decoration: none;
    font-weight: 400;
    color: seashell;
    font-size: 20px;
}

.link i {
    font-weight: 100;
    font-size: 17px;
    color: seashell;
    margin-right: 8px;
}

.active {
    color: #50b5ff;
}

.active i {
    color: #50b5ff;
}

.friends {
    display: flex;
    flex-direction: row;
    margin: 15px;
    align-items: center;
}

h4 {
    margin-left: 20px;
    color: #fff;
    font-size: 30px;
    margin-bottom: 0;
}