.menu {
    grid-area: sideBar;
    background-color: #1e2769;
    border-radius: 15px;
}

.list {
    list-style: none;
}

.item {
    padding: 10px;
}

.link {
    text-decoration: none;
    font-weight: 400;
    color: seashell;
    font-size: 23px;
}

.active {
    color: #50b5ff;
}

.friends {
    display: flex;
    flex-direction: row;
    margin: 15px;
    align-items: center;
}

h4 {
    margin-left: 20px;
    color: #fff;
    font-size: 30px;
    margin-bottom: 0;
}